@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.toast-success {
  background-color: #22c55e !important; /* green */
  color: #fff;
}
.toast-error {
  background-color: #ef4444 !important; /* red */
  color: #fff;
}
